body {
    margin: 0;
    padding: 0;
    margin-top: 45x;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: black;
}

.d-none {
    display: none;
}

html {
    background-color: black;
}